*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Common */
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.white-text{
    color: #fff !important;
}

.text-center{
    text-align: center !important;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding: 0 8px;
}

.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}

.col-third{
    width: 33.33333%;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.mt-32{
    margin-top: 32px !important;
}

.pull-right{
    float: right !important;
}

.btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.btn{
    display: inline-block;
    margin-top: 15px;
    background-color: #000;
    color: #fff;
    padding: 11px 16px;
    text-decoration: none;
    text-align: center;
    border: none;
}


/* Main */
/* ========Header====== */
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    height: 46px;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav li{
    position: relative;
    display: inline-block;
    line-height: 46px;
}

#nav .subnav li:hover a,
#nav > li:hover > a{
    color:#000;
    background-color: #ccc;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    padding: 0 24px;
    text-decoration: none;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav{
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav li{
    display: block;
    min-width: 160px;
}

#nav .subnav a{
    color: #000;
    display: block;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover{
    cursor: pointer;
    background-color: red;
}

#header .mobile-menu-btn:hover{
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

/* ========Slider====== */
#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(../img/slider/slider1.jpg) top center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    text-shadow: 0 0 1px #000;
}   

#slider .text-description{
    font-size: 16px;
    margin-top: 25px;
} 


/* ========Content====== */

#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
    padding-left: 16px;
}

#content .section-heading{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
    margin-top: 25px;
}
/* About */
#content .about-context{
    padding-top: 15px;
    line-height: 1.4;
    font-size: 15px;
    text-align: justify;
}

#content .member-list{
    padding-top: 48px;
}

#content .member-name{
    font-size: 15px;
}

#content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

/* Tour */
.tour-section{
    background-color: #000;
}

.list-ticket{
    background-color: #fff;
    margin-top: 40px;
}

.list-ticket li{
    font-size: 15px;
    padding: 11px 16px;
    color: #757575;
    border-bottom: 1px solid #ddd;
    list-style: none;
    
}

.list-ticket .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
    text-align: center;
}

.list-ticket .quantity{
    background-color: #000;
    color: #fff;
    float: right;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* Place */
.place-list{
    margin-top: 16px;
}

.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-img:hover{
    opacity: 0.6;
}

.place-img{
    width: 100%;
    display: block;
}

.place-name{
    font-weight: 600;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-description{
    line-height: 1.4;
    margin-top: 15px;
}


/* Contact */
.contact-content{
    margin-top: 48px;
}

.contact-content i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info a{
    color: #101aef;
    opacity: 1;
}

.contact-info a:hover{
    opacity: 0.8;
}

.contact-form .form-control{
    padding: 10px;
    font-size: 15px;
    width: 100%;
    border: 1px solid #ccc;
}

/* .contact-form .form-submit-btn{
    float: right;
    background-color: #000;
    color: #fff;
    padding: 10px 16px;
    border: 1px solid #000;
}

.contact-form .form-submit-btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
} */

/* Map */
.map-section .map-img{
    width: 100%;
}


/* ========Footer====== */
#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .social-text a:hover,
#footer .social-list a:hover{
    color: rgba(0, 0, 0, 0.3);
    
}

#footer .social-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-size: 24px;
}

#footer .social-text{
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
}

#footer .social-text a{
    color: rgba(0, 0, 0, 0.6);
}

